*{
    margin: 0;
    padding: 0;
    background-color: skyblue;
    text-align: center;
    font-family: monospace;
}

.container{
    border: solid;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-color: black;
    width: 380px;
    height: 380px;
    margin: auto;
}

.boxContainer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 1 0;
}

.boxes{
    border: solid;
    flex: 1 1 0;
}